จำนวนที่ลดลง
<br />
<div>
  <input #counterDownInput type="text" placeholder="จำนวน" />
</div>

จำนวนที่เพิ่มขึ้น
<br />
<div>
  <input #counterUpInput type="text" placeholder="จำนวน" />
</div>

แสดงผล
<br />
<div>
<button type="button" (click)="decrease(counterDownInput.value)">-</button>

<input type="text" [value]="counter" *ngIf ="inputDisplay else elseTemplate"/>
<ng-template #elseTemplate>
  <span style = "
font-size:20px;
font-weight: bold;
margin-left: 5px;
margin-right: 5px;
">
  {{counter}}
</span>
</ng-template>

<button type="button" (click)="increase(counterUpInput.value)">+</button>
</div>